mat-sidenav {
    width: 250px;
}

mat-sidenav-container.with-margin {
    margin-top: 64px;
}

@media (max-width: 600px) {
    mat-sidenav-container.with-margin {
        margin-top: 56px;
    }
}

mat-nav-list {
    padding-top: 0 !important;
}

mat-sidenav-container.mat-drawer-container {
    background-color: #eee;
}

button.button-toolbar {
    height: 80%;
    padding-left: 4px !important;
    padding-right: 8px !important;
}

img.icon-toolbar {
    height: 36px !important;
}

span.home-toolbar {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.nav-item {
    font-size: 14px;
    font-weight: bold;
}

.nav-item-red {
    color: rgb(255, 59, 59);
}

.menu-count-items {
    position: absolute;
    top: 20px;
    right: 2px;
    width: 16px;
    height: 16px;
    color: black;
    background-color: white;
    line-height: 14px;
    text-align: center;
    font-size: 11px;
    border-radius: 8px;
    border: 1px solid black;
}