<ng-container *ngIf="(activeMenuItem$ | async); let activeItem">
  <ng-container *ngIf="!activeItem.hiddenToolbar">
      <mat-toolbar class="main-toolbar" color="primary">
          <button mat-icon-button (click)="mainSideNav.toggle()">
              <mat-icon *ngIf="mainSideNav.opened">chevron_left</mat-icon>
              <mat-icon *ngIf="!mainSideNav.opened">menu</mat-icon>
          </button>
          <button mat-button class="button-toolbar" [routerLink]="['\home']" (click)="mainSideNav.close()"><img class="icon-toolbar" src="./assets/img/logo.png"><span class="home-toolbar">{{appName}}</span></button>
          <span fxFlex></span>

          <button mat-icon-button>
              <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
        </button>
      </mat-toolbar>
  </ng-container>
  <mat-sidenav-container [ngClass]="{'with-margin': !activeItem.hiddenToolbar}" fullscreen>
      <mat-sidenav #mainSideNav mode="push" closed>
          <mat-nav-list>
              <ng-container *ngFor="let navItem of mainMenuItems">
                  <a *ngIf="!navItem.hidden && (!navItem.authRequired || (navItem.authRequired && authService.isAuthorized))" mat-list-item mat-ripple
                      [routerLink]="[navItem.path]"
                      (click)="mainSideNav.close()">
                      <mat-icon class="m-x-sm">{{navItem.icon}}</mat-icon>
                      <span>{{navItem.title}}</span>
                  </a>
              </ng-container>
          </mat-nav-list>
      </mat-sidenav>
      <mat-card *ngIf="!activeItem.hiddenToolbar && activeItem.title" class="tab-toolbar" color="primary">
          {{activeItem.title}}
      </mat-card>
      <router-outlet></router-outlet>
  </mat-sidenav-container>
</ng-container>
