<div  fxLayout="column"
  fxLayoutAlign=" strech">
  <mat-card class="image image-promotions" [routerLink]="['/promotions']">
    <mat-card-title><br/></mat-card-title>
  </mat-card>
  <mat-card class="image image-t-shirts" [routerLink]="['/t-shirts']">
    <mat-card-title><br/></mat-card-title>
  </mat-card>
  <mat-card class="image image-mugs" [routerLink]="['/mugs']">
    <mat-card-title><br/></mat-card-title>
  </mat-card>
  <mat-card class="image image-posters" [routerLink]="['/posters']">
      <mat-card-title><br/></mat-card-title>
  </mat-card>
<div>