<div class="cart-title">Twój koszyk</div>
<div *ngIf="!Products || Products.length === 0" class="cart-empty">
  Koszyk jest pusty
</div>
<div fxLayout="column"
    fxLayoutAlign="space-between stretch">
  <mat-card *ngFor="let product of Products; let i = index" [routerLink]="['/product', product.Id]" fxFlex="90">
    <mat-card-content class="m-y-0" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex></div>
      <div class="image {{product.Category.Code | lowercase}}-{{product.Color.Code}}" fxFlex="24">
        <div class="svg-container-{{product.Category.Code | lowercase}}">
          <img *ngIf="product.Color.Code !== 'B'" src="./assets/img/svgs.svg#{{product.Graphic.Symbol}}">
          <img *ngIf="product.Color.Code === 'B'" src="./assets/img/svgs.svg#w{{product.Graphic.Symbol}}">
        </div>
      </div>
      <div fxFlex></div>
      <div>
        <div class="product-name">{{product.Name}}</div>
        <div class="product-avalibility-text" fxLayout="row" fxLayoutAlign="start center">
            <div class="product-avalibility {{product.Avalibility.Color | lowercase}}"></div>
            {{product.Avalibility.Description}}
        </div>
        <div class="product-info">{{product.Size.Code}} ({{product.Size.Description}})</div>
        <div class="product-info">{{product.Color.Name}}</div>
        <div class="product-price">{{productPrice(product) | number: '1.2-2'}}PLN</div>
      </div>
      <div fxFlex></div>
      <div fxFlex></div>
      <div class="buttons-container">
        <button mat-icon-button appClickStopPropagation class="remove" (click)="removeItem(i)">
            <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="Products && Products.length > 0">
    <div class="summary-container" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <div>
          <div>Koszt produktów:</div>
          <div>Szacowany koszt wysyłki:</div>
          <div class="order-price">RAZEM:</div>
        </div>
        <div fxFlex="5"></div>
        <div>
          <div>{{orderPrice() | number: '1.2-2'}}PLN</div>
          <div>10.00PLN</div>
          <div class="order-price">{{orderPrice() + 10 | number: '1.2-2'}}PLN</div>
        </div>
      </div>
      <div class="cart-avalibility-text">{{Avalibility.Description}}</div>
    </div>
    <button mat-button class="checkout" [routerLink]="['/checkout']">
      <ng-container *ngIf="IsScreenXs">{{orderPrice() + 10 | number: '1.2-2'}}PLN | </ng-container>
      Złóż zamówienie
    </button>
  </ng-container>
</div>
