<div *ngIf="!Products" class="spinner" fxLayout="column" fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>

<button *ngIf="!filterPanelOpened" class="filter-button" mat-icon-button appClickStopPropagation (click)="filterPanel.open()">
  <span class="glyphicon glyphicon glyphicon-filter"></span>
</button>
<mat-expansion-panel #filterPanel class="filter-panel"
  (opened)="filterPanelOpened = true"
  (closed)="filterPanelOpened = false">
  <button class="filter-cancel-button" mat-icon-button (click)="filterPanel.close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div  fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-around start"
    fxLayoutAlign.xs=" strech"
    fxLayoutWrap
    fxLayoutWrap.xs="nowrap">
    <mat-card class="m-t-sm">
      <div class="p-t-lg">
        <span>Cena: </span>
        <span>100</span>
        <mat-slider class="slider" min="100" max="200" thumbLabel (input)="sliderValue($event)"></mat-slider>
        <span>200</span>
      </div>
    </mat-card>
  </div>
  <div class="m-t-md" fxLayout="row" fxLayoutAlign="center center">
    <button class="filter-panel-button" mat-button (click)="filterProducts()">Filtruj</button>
    <button *ngIf="FiltersActive" class="filter-panel-button" mat-button (click)="removeFilters()">Usuń filtry</button>
  </div>
</mat-expansion-panel>

<div  fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-around start"
      fxLayoutAlign.xs=" strech"
      fxLayoutWrap
      fxLayoutWrap.xs="nowrap">
  <mat-card *ngFor="let product of Products; let i = index" class="card-space" fxFlex="24" fxFlex.sm="48" [routerLink]="['/product', product.Id]">
    <div [class.hidden]="!product.IsDiscounted" class="ribbon"><span *ngIf="product.IsDiscounted">-{{product.DiscountPercent}}%</span></div>
    <mat-card-title class="image-{{product.Category.Code | lowercase}}" fxLayout="column" fxLayoutAlign="center center">
      <div class="svg-container-{{product.Category.Code | lowercase}}">
        <img src="./assets/img/svgs.svg#{{product.Graphic.Symbol}}">
      </div>
      </mat-card-title>
    <mat-card-content class="m-y-0" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="product-name">{{product.Name}}</div>
        <div *ngIf="product.IsDiscounted">
          <span class="product-price product-discount">{{product.Price | number: '1.2-2'}}PLN</span>
          <span class="product-price product-discount-price">{{discountedPrice(product) | number: '1.2-2'}}PLN</span>
        </div>
        <div *ngIf="!product.IsDiscounted" class="product-price">{{product.Price | number: '1.2-2'}}PLN</div>
    </mat-card-content>
    <mat-card-actions class="p-b-xs" fxLayout="row" fxLayoutAlign="center center">
      <div class="product-avalibility-text" fxLayout="row" fxLayoutAlign="start center">
        <div class="product-avalibility {{product.Avalibility.Color | lowercase}}"></div>
        {{product.Avalibility.Description}}
    </div>
    </mat-card-actions>
  </mat-card>
  <div fxFlex="24" fxFlex.sm="48"></div>
  <div fxFlex="24" fxFlex.sm="48"></div>
  <div fxFlex="24" fxFlex.sm="48"></div>
</div>

<button class="go-up-button" mat-icon-button appClickStopPropagation (click)="goTop()">
    <mat-icon>arrow_upward</mat-icon>
</button>
