.image-t-shirt {
    background-image: url("/assets/img/products/whiteT.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-mug {
    background-image: url("/assets/img/products/whiteM.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-poster {
    background-image: url("/assets/img/products/whiteP.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 150px; height: 150px;
    text-align: right;
  }
  .ribbon span {
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 150px;
    display: block;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 29px; right: -32px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
  }

.svg-container-t-shirt {
    margin-top: 20%;
    min-width: 40%;
    padding-bottom: 40%;
}

.svg-container-mug {
    margin-top: 30%;
    margin-right: 30%;
    min-width: 40%;
    padding-bottom: 30%;
}

.svg-container-poster {
    margin-top: 30%;
    min-width: 40%;
    padding-bottom: 30%;
}

.card-space {
    margin-top: 8px;
}

@media (max-width: 600px) {
    .card-space {
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

.product-name {
    font-size: larger;
    font-weight: 100;
}

.product-price {
    font-weight: bold;
}

.product-discount { 
    color: gray;
    text-decoration: line-through;
}

.product-discount-price { 
    color: rgb(255, 0, 0);
}

.product-avalibility {
    font-size: small;
}

    .green::before {
        content: ' \25CF';
        color: rgb(36, 197, 36);
        font-size: 30px;

    }

    .yellow::before {
        content: ' \25CF';
        color: rgb(255, 235, 55);
        font-size: 30px;
    }

    .red::before {
        content: ' \25CF';
        color: rgb(192, 5, 5);
        font-size: 30px;
    }

.product-wishlist {
    z-index: 999;
}
