.image {
    background-image: url("/assets/img/whiteT.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.aspect-ratio {
    padding-top: 20%;
    padding-bottom: 40%;
    max-width: 100%
}

.svg-container {
    min-width: 40%;
}

.space-bottom {
    margin-bottom: 8px;
}

.product-name {
    font-size: larger;
    font-weight: 100;
}

.product-price {
    font-weight: bold;
}

.product-avalibility {
    font-size: small;
}

    .green::before {
        content: ' \25CF';
        color: rgb(36, 197, 36);
        font-size: 30px;

    }

    .yellow::before {
        content: ' \25CF';
        color: rgb(255, 235, 55);
        font-size: 30px;
    }

    .red::before {
        content: ' \25CF';
        color: rgb(192, 5, 5);
        font-size: 30px;
    }

.product-wishlist {
    z-index: 999;
}
