<div class="wishlist-title">Wishlist</div>
<div *ngIf="!Products || Products.length === 0" class="wishlist-empty">
  Wishlist jest puste
</div>
<div fxLayout="column"
    fxLayoutAlign="space-between stretch">
  <mat-card *ngFor="let product of Products; let i = index" [routerLink]="['/product', product?.ProductId]" fxFlex="90">
    <mat-card-content class="m-y-0" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex></div>
      <div class="image {{product?.Product.Category.Code | lowercase}}-{{product?.ProductColor.Code}}" fxFlex="24">
        <div class="svg-container-{{product?.Product.Category.Code | lowercase}}">
          <img *ngIf="product?.ProductColor.Code !== 'B'" src="./assets/img/svgs.svg#{{product?.Product.Graphic.Symbol}}">
          <img *ngIf="product?.ProductColor.Code === 'B'" src="./assets/img/svgs.svg#w{{product?.Product.Graphic.Symbol}}">
        </div>
      </div>
      <div fxFlex></div>
      <div>
        <div class="product-name">{{product?.ProductName}}</div>
        <div class="product-avalibility-text" fxLayout="row" fxLayoutAlign="start center">
            <div class="product-avalibility {{product?.Product.Avalibility.Color | lowercase}}"></div>
            {{product?.Product.Avalibility.Description}}
          </div>
        <div class="product-info">{{product?.ProductSize.Code}} ({{product?.ProductSize.Description}})</div>
        <div class="product-info">{{product?.ProductColor.Name}}</div>
        <div class="product-price">{{productPrice(product.Product) | number: '1.2-2'}}PLN</div>
      </div>
      <div fxFlex></div>
      <div fxFlex></div>
      <div class="buttons-container">
        <button mat-icon-button appClickStopPropagation class="cart" (click)="addToCart(product, i)">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button appClickStopPropagation class="remove" (click)="removeItem(i)">
            <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <button *ngIf="Products && Products.length > 0" mat-button class="wishlist-to-cart" (click)="addAllToCart()"><mat-icon>shopping_cart</mat-icon> Dodaj wszystko do koszyka</button>
</div>
