mat-button-toggle {
    color: black;
}

mat-button-toggle.mat-button-toggle-checked {
    background-color: black;
    color: white;
}

.toggle-empty{
    position: absolute;
    top: -6px;
    left: -6px;
    min-width: 36px;
    min-height: 36px;
}

.color-toggle {
    height: 36px;
    width: 36px;
    border: 6px solid white;
    cursor: pointer;
    z-index: 999;
}

.color-toggle.B {
    background-color: rgb(43, 42, 42);
}

.color-toggle.W {
    background-color: rgb(233, 231, 231);
}

.color-toggle.P {
    background-color: rgb(255, 111, 171);
}

.color-toggle.R {
    background-color: rgb(189, 10, 10);
}

.color-toggle.checked {
    border-color: black !important;
}

.toggle-label {
    font-weight: 100;
    font-size: small;
}

.product-name {
    font-size: 20px;
    font-weight: 700;
}

.product-price {
    font-size: 18px;
}

.product-discount { 
    color: gray;
    text-decoration: line-through;
}

.product-discount-price { 
    color: rgb(255, 0, 0);
}

.product-discount-label {
    color: white;
    font-weight: 700;
    background-color: rgb(255, 0, 0);
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
}